<h1>Blog Demo</h1>

<form [formGroup]="form" (ngSubmit)="onSave()" id="job-form">
  <div>
    <div><label for="content">Content</label></div>
    <textarea formControlName="content" rows="5" cols="70"></textarea>
  </div>

  <div>
    <button class="btn btn-primary btn-c-primary" type="submit" [disabled]="form.invalid">Save</button>
  </div>
</form>

<hr>

<div *ngFor="let post of posts">
  <div>Date: {{ post.created_at }}</div>
  <div>
    {{post.content }}
  </div>
</div>

<router-outlet></router-outlet>
